#post, #get {
    margin-top: 5px;
    background-color: #69a5ff;
    color: #FFFFFF;
    font-family: Calibri, sans-serif;
    font-size: 15pt;
    border-radius: 8%;
    padding: 3px;
    display: inline-block;
    height: auto;
    width: 200px;
}

#post:hover, #get:hover {
    background-color: #FFFFFF;
    color: #69a5ff;
    cursor: pointer;
}

#name, #date, #id {
    height: auto;
    width: 200px;
}

#content {
    margin-top: 10%;
    text-align: center;
    font-family: Calibri, sans-serif;
}

@media only screen and (max-width: 400px) {
    #content {
        margin-top: 25%;
    }
}
